<div class="container-fluid text-center">
    <a href="/" class="logo">
        <h1 class="mt-5">MOTS</h1>
    </a>

    <div class="mb-5 d-flex flex-row justify-content-evenly optionMenu">
        <a href="/" class="options">
            <h5 class="d-inline">Word Search</h5>
        </a>

        <a href="/noteBook" class="options">
            <h5 class="d-inline">Notebook</h5>
        </a>
    </div>